body {
    margin: 0;
    background-image: url('http://infoscreen.sae.ch/img/bg.png');
}


/* START ANIMATION TEST PAGE */

body.animation-test {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body.animation-test svg {
    width: 200px;
    height: auto;
    color: white;
}

body.animation-test svg path {
    stroke: currentColor;
}

/* END ANIMATION TEST PAGE */
