* {
    font-family: sans-serif;
    color: #ffffff;
    box-sizing: border-box;
}

body {
    background-image: url('https://infoscreen.sae.ch/img/bg.png');
}


header,
body {
    max-width: 1440px;
    position: relative;
    padding: 0 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: initial;
    margin-top: 20px;
}

.divider {
    border-bottom: 1px solid;
    margin: 24px 0 40px 0;
}

.datetime {
    align-self: center;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    max-height: 100px;
    height: 100%;
}

.tiles-container {
    margin-bottom: 36px;
    display: flex;
}

.tile {
    max-width: calc(96% / 3);
    width: 100%;
    padding: 16px 16px 24px 16px;
    margin-right: 2%;
}

.tile:last-child {
    margin-right: initial;
}

.tile-yellow {
    background-color: #fefe7f;
}

.tile .class-title,
.tile .time,
.tile .room,
.tile .description {
    color: #000;
}

.tile-red {
    background-color: #ec7f8b;
}

.tile-blue {
    background-color: #80d3f7;
}

.tile-upper-part {
    display: flex;
    align-items: center;
}

.tile-middle-part {
    margin-bottom: 4px;
    font-size: 24px;
}

.logo-container {
    width: 44px;
    height: 44px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-right: 8px;
}

.logo-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: #000;
<<<<<<< HEAD
}
=======
}


/* START ANIMATION TEST PAGE */

body.animation-test {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body.animation-test svg {
  width: 200px;
  height: auto;
  color: white;
}

body.animation-test svg path {
  stroke: currentColor;
}

/* END ANIMATION TEST PAGE */
>>>>>>> 9660341946e83deffe528bab3080faffa578f2c9
